<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    {% block body %}

    <body>
        <div class="container my-4">
            <div class="row justify-content-center">
                <div class="col-md-10 col-sm-12">
                    <div class="row">
                        
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'assignquiz' %}">Assign Quiz</a></li>
                          
                        </ul>


                        {% block content %}
                        <h1>Home Page</h1>
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% endblock body %}

</html>