<HTML>

    <head>

    </head>
    {% block body %}

    <body>
        {% block content %}
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <td>
                    <tr>
                        <th>Select Candidate</th>
                    </tr>
                    <tr>
                        {{form }}
                    </tr>
                </td>
            </table>

            <input type="submit" value="Submit">
        </form>
        {% endblock content %}
    </body>
    {% endblock body %}

</HTML>