{% extends "website/home.html" %}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
        {% block content %}
        <style>
        
        .form-control {
            width:300px;
            height:auto
        }
        </style>
        <div style = "margin: 30px 10% 5% 10%;
            width:800px;
         
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding-left: 50px;">
        <h1 style="border-bottom: 1px solid gray; margin-right:300px">
            Questionnaire Selection
        </h1>
        <br>
        <form action="" method="post" class="form" style="padding-bottom: 35px" >
            {% csrf_token %}
            {% bootstrap_form form %}
            
            {% buttons %}
            <button type="submit" class="btn btn-primary">
      Submit
    </button>
            {% endbuttons %}
        </form>
        </div>
        {% endblock content %}

