{% extends "website/home.html" %}
{% load i18n%}

{% load quiz_tags %}
{% block sidebar %}
{% endblock sidebar %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {{ quiz.title }} - {{ quiz.description }} {% endblock %}

{% block content %}

{% if question %}

<p>
  <small class="muted">{% trans "Question category" %}:</small>
  <strong>{{ question.category }}</strong>
</p>

<p class="lead">{{ question.content }}</p>

{% if question.figure %}
    <img src="{{ question.figure.url }}" alt="{{ question.content }}" />
{% endif %}

<form action="" method="POST">{% csrf_token %}
  <input type=hidden name="question_id" value="{{ question.id }}">

  <ul class="list-group">

	{% for answer in form.answers %}
	  <li class="list-group-item">
	    {{ answer }}
	  </li>
	{% endfor %}

  </ul>
  <div class="row">
  
  
  {% if previous.answers %}
    <div class="col-sm">
    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-large btn-block btn-warning" class>Back</a>
    </div>
  {% endif %}
  <div class="col-sm">
    <input type="submit" value={% trans "Next" %} class="btn btn-large btn-block btn-warning" >
  </div>
  </div>
</form>

{% endif %}

<hr>




{% endblock %}
